* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  display: flex;

  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 2rem;
  font-size: 8rem;
}

.players {
  display: flex;
  font-size: 3rem;
  gap: 3rem;
}

.player {
  flex-grow: 1;
}

.game {
  display: grid;
}
