* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #335c67;
  height: 100vh;
}

.container {
  display: flex;
  font-family: 'Secular One', sans-serif;

  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  gap: 2rem;

  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 2rem;
  font-size: 8rem;
  color: #fff3b0;
}

.players {
  display: flex;
  font-size: 3rem;
  gap: 3rem;
  color: #fff3b0;
}

.player {
  flex-grow: 1;
}

.game {
  display: grid;
  gap: 0.01rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.6rem;
  height: 40rem;
  width: 40rem;
  position: relative;
}

.game-message {
  /* display: none; */
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);

  font-weight: 600;
  font-size: calc(1.8vw + 3vh + 2vmin);
  text-align: center;
  white-space: nowrap;
  color: #fff3b0;
  text-shadow: 0px 0px 3px #fff3b0;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 7rem;
  /* padding: 6rem; */
  background-color: #9e2a2b;
  color: #fff7c8;
}

.btns {
  display: flex;
  gap: 4rem;
  align-self: center;
}

/* .btn {
  background-color: #fff8d0;
  padding: 0.6rem 0.9rem;
  border-radius: 4px;
  font-size: 3rem;
} */

/* From uiverse.io by @NorthFishHasNa */
.btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #fff8d0;
  border: none;
  color: #335c67;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
